<form action=index.cgi method=post>
<table border=0 cellspacing=0 cellpading=0 align=center width=100%>
<tr>
    <td bgcolor=#003366 align=center><font class=bartext> Images in <b> -- <!!category_name!!> -- </b> category generated at <!!date!!></font>
    </td>

</tr>
</table>

<table border=0 cellspacing=0 cellpading=0 align=center>

<!!files!!>

</table>

<table border=0 cellspacing=0 cellpading=0 align=center width=100%>

<tr>
    <td bgcolor=#003366 align=center>
	<font class=bartext> <input type=submit value=" delete " name=action>&nbsp;<input type=reset></font>
    </td>

</tr>

</table>
<BR>
<BR>