
<form action=index.cgi method=post name=category>
<table border=0 cellspacing=0 cellpading=0 align=center width=100%>
<tr>
    <td bgcolor=#003366 align=center><font class=bartext> e-cards in -- <b> <!!category!!> </b> -- </font>
    </td>

</tr>
</table>

<table border=0 cellspacing=5 cellpading=0 align=center>

<!!files!!>

</table>


<table border=0 cellspacing=0 cellpading=0 align=center width=100%>

<tr>
    <td bgcolor=#003366 align=center>
	<font class=bartext><input type=submit value="Send" name=action>&nbsp;<input type=reset value="Reset"></font>
    </td>

</tr>

</table>
</form>