
<table border=0 cellspacing=0 cellpading=0 align=center width=100%>
<tr>
    <td bgcolor=#003366 align=center><font class=bartext> Images in <b> -- <!!category_name!!> -- </b> category generated at <!!date!!></font>
    </td>

</tr>
</table>

<table border=0 cellspacing=0 cellpading=0 align=center>

<!!files!!>

</table>


<table border=0 cellspacing=0 cellpading=0 align=center width=100%>

<tr>
    <td bgcolor=#003366 align=center>
	<font class=bartext> Copyright www.ecards.ro 2000. All rights reserved.</font>
    </td>

</tr>

</table>
<BR>
<BR>